*{
  font-size: 13px;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.25);
}
::-webkit-scrollbar-thumb {
  background: orange;
}

nav{
  margin: 0;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
nav div{
  padding: 0px 50px;
}
.navtop{
  background-color: #f3f3f3;
  justify-content: space-between;
}
.navtop ul{
  padding: 5px;
  margin: 0;
}
.navtop ul li{
  display: inline-block;
  text-decoration: none;
  list-style: none;
  padding: 0 10px;
  border-right: 1px solid rgba(0,0,0,0.2);
}
.navtop ul li a{
  font-size: 12px;
}
.navtop ul li a:hover{
  font-size: 12px;
  color: inherit;
  text-decoration: underline;
}

.navmid{
  display: flex;
  padding: 15px 10px;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.navmid .logo{
  padding-left: 0;
}
.navmid .logo img{
  max-height: 40px;
}
.navmid form{
  display: flex;
  height: 40px;
  padding: 2px;
  border: 1px solid grey;
  background: rgba(0,0,0,0.05);
  min-width: 40%!important; 
  border: 1px solid rgba(155,155,155,0.2);
  border-radius: 5px;
}
.navmid .searchbar{
  padding: 0;
  width: 100%;
}
.navmid form .search-data{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: grey;
  font-size: 13px;
  border: none;
  font-weight: 500;
  background: none;
  outline: none;
}
.navmid form button{
  padding: 0 15px;
  color: grey;
  font-size: 15px;
  background: none;
  /*background: #26d63b;*/
  border: none;
  border-radius: 2px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  cursor: pointer;
  transition: .2s all;
}
.navmid form button:hover{
  background: none;
}
.navmid .contact{
  line-height: 0;
  display: block;
  text-align: right;
  white-space: nowrap;
  padding: 0;
}
.navmid .contact h4{
  line-height: 0.8;
}
.navmid .icon{
  padding-left: 50px;
  padding-right: 0;
  white-space: nowrap;
  /* padding: 0; */
  /* width: 100%; */
  display: block;
}
.navmid .icon button i{
  font-size: 20px; color: grey;
  padding: 0 10px;
}
.navmid .flex-left{
  flex: 70%;
  padding-right: 0;
}
.navmid .flex-right{
  margin-left: auto;
  /* padding-left: 50px; */
  /* padding: 0; */
  flex: 30%;
}
.navlast{
  padding: 10px 50px;
  justify-content: space-between;
}
.navlast div{
  display: flex;
  padding: 0;
}
.navlast .nav-items{
  display: flex;
  flex-direction: row;
}
.navlast .nav-items li{
  list-style: none;
  padding: 0 20px;
}
.navlast .nav-items li a{
  color: grey;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
}
.navlast .nav-items li a:hover{
  color: orange;
}
.navlast .menu-icon span,
.navlast .cancel-icon span{
  text-align: right;
}
.navlast .menu-icon,
.navlast .cancel-icon{
  width: 40px;
  text-align: right;
  padding-right: 50px;
  font-size: 22px;
  color: grey;
  cursor: pointer;
  display: none;
}
.navmid .flex-left{
  display: flex;
}
.navmid .logo{
  flex: auto;
}
.navmid .searchbar{
  flex:auto;
}

.nav-foot .foot-top{
  padding: 10px 50px;
  margin: 0;
}
.nav-foot .foot-top{
  border-top: 5px solid orange;
}
.nav-foot .foot-top .foot-top-content{
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  /* border-bottom: 1px solid rgba(0,0,0,0.2); */
}
.nav-foot .foot-top .foot-top-content .foot-txt{
  line-height: 1.2;
  padding-left: 20px;
}
.nav-foot .foot-top .foot-top-content .foot-txt h5{
  font-weight: 600;
}
.border-top{
  padding: 0 50px;
}
.footer-widgets{
  width: 100%;
  background-color: rgba(0,0,0,0.05);
}
.widg{
  padding-top: 50px;
}
.widg strong{
  font-size: 18px;
}
.widg ul li{
  list-style: none;
  border-left: 1px solid rgba(0,0,0,0.2);
  padding: 5px 10px;
}
.crft{
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid rgba(0,0,0,0.2);
}

@media (max-width: 1080px){
  nav{
    background-color: white;
  }
  .navmid{
    flex-direction: column;
    width: 100%;
  }
  .navmid .flex-left,
  .navmid .flex-right{
    flex: 100%;
    width: 100%;
  }
  .navmid .flex-left{
    display: flex;
  }
  .navmid .flex-left > div,
  .navmid .flex-right > div{
    justify-content: space-between;
  }
  .navmid .flex-left{
    padding-right: 50px;
  }
  .navmid .flex-right{
    padding-top: 10px;
    justify-content: space-between;
  }
  .navmid .contact{
    text-align: left;
  }
  .navmid .logo,
  .navmid .searchbar{
    flex:50%;
  }
  .widg{
    padding-top: 30px;
  }
}

@media (max-width: 715px){
  nav div{
    padding: 0px 20px;
  }
  .navmid .flex-left{
    padding-right: 20px;
  }
  nav{
    background-color: white;
  }
  .navlast .nav-items{
    position: absolute;
    z-index: 9;
    top: 33%;
    width: 20%;
    left: -100%;
    height: auto;
    padding: 10px 20px 0 20px;
    text-align: left;
    background: #fff;
    display: block;
    transition: left 0.3s ease;
  }
  .navlast .nav-items.active{
    background: white;
    border: 1px solid rgba(0,0,0,0.2);
    width: 100%;
    padding: 0;
    /* padding-left: 50px; */
    left: 0px;
  }
  .navlast .nav-items li{
    line-height: 10px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
  }
  .navlast .nav-items li::after{
    border-bottom: 1px solid green;
  }
  .navlast .nav-items li a{
    font-size: 13px;
  }
  .navlast .menu-icon{
    display: block;
  }
  .navlast .menu-icon span.hide{
    display: none;
  }
  .navlast .cancel-icon.show{
    display: block;
  }
  .navmid .logo{
    text-align: center;
    padding: 0;
  }
  .navmid .logo img{
    margin: auto;
    display: block;
  }
  .navmid .flex-left{
    display: block;
  }
  .navmid .logo,
  .navmid .searchbar{
    flex:100%;
  }
}

@media (max-width: 507px){
  .navlast .nav-items{
    top: 35%;
  }
}